*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a { text-decoration: none; }
li { list-style: none; }
button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}
img, ion-icon, button, a { display: block; }
span { display: inline-block; }
html {
  font-family: "Poppins", sans-serif;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
}
input {
  display: block;
  width: 100%;
  font: inherit;
}
body { background: rgb(31 23 23 / 12%); }
.container { padding: 0 15px; }
.title {
  color: hsl(0, 0%,13%);
  font-size: var(1rem);
  font-weight: var(600);
  letter-spacing: 0.4px;
  text-transform: capitalize;
  padding-bottom: 10px;
  border-bottom: 1px solid hsl(0, 0%, 93%);
  margin-bottom: 30px;
}
/* #HEADER  */
.header-user-actions,
.desktop-navigation-menu { display: none; }
.header-main {
  padding: 20px 0;
  border-bottom: 1px solid hsl(0, 0%, 93%);
  background: rgb(248, 163, 177);
}
.header-logo { margin-bottom: 20px;}
.header-logo img { margin: auto;  height: 100px; width: 100px;}
.header-search-container { position: relative; }
.header-search-container .search-field {
  font-size: var(0.875rem);
  color: hsl(0, 0%,27%);
  padding: 10px 15px;
  padding-right: 50px;
  border: 1px solid hsl(0, 0%, 93%);
  -webkit-border-radius: var(10px);
          border-radius: var(10px);
}
.search-field::-webkit-search-cancel-button { display: none; }
.search-btn {
  background: white;
  position: absolute;
  top: 50%;
  right: 2px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: hsl(0, 0%,27%);
  font-size: 18px;
  padding: 8px 15px;
  -webkit-border-radius: var(10px);
          border-radius: var(10px);
  -webkit-transition: color var(0.2s ease);
  -o-transition: color var(0.2s ease);
  transition: color var(0.2s ease);
}
.search-btn:hover { color: hsl(353, 100%, 78%); }
/* #BANNER */
.banner { margin: 30px 0; }
.slider-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-border-radius: var(10px);
          border-radius: var(10px);
  overflow: auto hidden;
  -webkit-scroll-snap-type: inline mandatory;
      -ms-scroll-snap-type: inline mandatory;
          scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}
.slider-item {
  position: relative;
  min-width: 100%;
  max-height: 450px;
  aspect-ratio: 1 / 1;
  -webkit-border-radius: var(10px);
          border-radius: var(10px);
  overflow: hidden;
  scroll-snap-align: start;
}
.slider-item .banner-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}
.banner-content {
  background: hsla(0, 0%, 100%, 0.8);
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
  padding: 20px 25px;
  -webkit-border-radius: var(10px);
          border-radius: var(10px);
}
.banner-subtitle {
  color: hsl(353, 100%, 78%);
  font-size: var(0.875rem);
  font-weight: var(500);
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.banner-title {
  color: hsl(0, 0%,13%);
  font-size: var(1.563rem);
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 10px;
}
.banner-text { display: none; }
.banner-btn {
  background: hsl(353, 100%, 78%);
  color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: var(0.625rem);
  font-weight: var(600);
  text-transform: uppercase;
  padding: 4px 10px;
  -webkit-border-radius: var(5px);
          border-radius: var(5px);
  -webkit-transition: var(0.2s ease);
  -o-transition: var(0.2s ease);
  transition: var(0.2s ease);
}
.banner-btn:hover { background: hsl(0, 0%,13%); }
/* #PRODUCT MINIMAL */
.product-minimal { margin-bottom: 30px; }
.product-minimal .product-showcase { margin-bottom: 10px; }
.product-minimal .showcase-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  -webkit-scroll-snap-type: inline mandatory;
      -ms-scroll-snap-type: inline mandatory;
          scroll-snap-type: inline mandatory;
}
.product-minimal .showcase-container {
  min-width: 100%;
  padding: 0 5px;
  scroll-snap-align: start;
}
.product-minimal .showcase {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  border: 1px solid hsl(0, 0%, 93%);
  background-color: whitesmoke;
  padding: 15px;
  -webkit-border-radius: var(10px);
          border-radius: var(10px);
}
.product-minimal .showcase:not(:last-child) { margin-bottom: 15px; }
.product-minimal .showcase-content { width: -webkit-calc(100% - 85px); width: calc(100% - 85px); }
.product-minimal .showcase-title {
  color: hsl(0, 0%,13%);
  font-size: var(0.875rem);
  font-weight: var(600);
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  margin-bottom: 2px;
}
.product-minimal .showcase-category {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: hsl(0, 0%, 33%);
  font-size: var(0.813rem);
  text-transform: capitalize;
  margin-bottom: 3px;
}
.product-minimal .showcase-category:hover { color: hsl(353, 100%, 78%); }
.product-minimal .price-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.product-minimal .price {
  font-size: var(0.875rem);
  font-weight: var(700);
  color: hsl(353, 100%, 78%);
}
.product-minimal .price-box del {
  font-size: var(0.75rem);
  color: hsl(0, 0%,47%);
}
/* #PRODUCT GRID */
.product-main { margin-bottom: 30px; }
.product-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 25px;
}
.product-grid .showcase {
  border: 1px solid hsl(0, 0%, 93%);
  -webkit-border-radius: var(10px);
          border-radius: var(10px);
  overflow: hidden;
  -webkit-transition: var(0.2s ease);
  -o-transition: var(0.2s ease);
  transition: var(0.2s ease);
  background-color: whitesmoke;
}
.product-grid .showcase:hover { -webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1); box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1); }
.product-grid .showcase-banner { position: relative; }
.product-grid .product-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: var(0.2s ease);
  -o-transition: var(0.2s ease);
  transition: var(0.2s ease);
}
.product-grid .product-img.default {
  position: relative;
  z-index: 1;
}
.product-grid .product-img.hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}
.product-grid .showcase:hover .product-img.hover { opacity: 1; }
.product-grid .showcase:hover .product-img.default { opacity: 0; }
.product-grid .showcase:hover .product-img { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }
.product-grid .showcase-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: hsl(152, 51%, 52%);
  font-size: var(0.813rem);
  font-weight: var(500);
  color: white;
  padding: 0 8px;
  -webkit-border-radius: var(5px);
          border-radius: var(5px);
  z-index: 3;
}
.product-grid .showcase-badge.angle {
  top: 8px;
  left: -29px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  text-transform: uppercase;
  font-size: 11px;
  padding: 5px 40px;
}
.product-grid .showcase-badge.black { background: hsl(0, 0%,13%); }
.product-grid .showcase-badge.pink { background: hsl(353, 100%, 78%); }
.product-grid .showcase-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  -webkit-transform: translateX(50px);
      -ms-transform: translateX(50px);
          transform: translateX(50px);
  -webkit-transition: var(0.2s ease);
  -o-transition: var(0.2s ease);
  transition: var(0.2s ease);
  z-index: 3;
}
.product-grid .showcase:hover .showcase-actions { -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
.product-grid .btn-action {
  background: white;
  color: hsl(0, 0%,47%);
  margin-bottom: 5px;
  border: 1px solid hsl(0, 0%, 93%);
  padding: 5px;
  -webkit-border-radius: var(5px);
          border-radius: var(5px);
  -webkit-transition: var(0.2s ease);
  -o-transition: var(0.2s ease);
  transition: var(0.2s ease);
}
.product-grid .btn-action:hover {
  background: hsl(0, 0%,13%);
  color: white;
  border-color: hsl(0, 0%,13%);
}
.product-grid .showcase-content { padding: 15px 20px 0; }
.product-grid .showcase-category {
  color: hsl(353, 100%, 78%);
  font-size: var(0.75rem);
  font-weight: var(500);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.product-grid .showcase-title {
  color: hsl(0, 0%,47%);
  font-size: var(0.813rem);
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
  -webkit-transition: var(0.2s ease);
  -o-transition: var(0.2s ease);
  transition: var(0.2s ease);
}
.product-grid .showcase-title:hover { color: hsl(0, 0%,13%); }
.product-grid .showcase-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: hsl(29, 90%, 65%);
  margin-bottom: 10px;
}
.product-grid .price-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-size: var(0.875rem);
  color: hsl(0, 0%,13%);
  margin-bottom: 10px;
}
.product-grid .price { font-weight: var(700); }
.product-grid del { color: hsl(0, 0%,47%); }
/* #FOOTER */
  footer {
    background: hsl(0, 0%,13%);
    padding: 30px 0;
  }
  .footer-nav {
    border-bottom: 1px solid hsl(0, 0%,27%);
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.footer-nav-list:not(:last-child) { margin-bottom: 20px; }
.footer-nav .nav-title {
  position: relative;
  color: white;
  font-size: var(0.875rem);
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
.footer-nav .nav-title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: hsl(353, 100%, 78%);
  width: 60px;
  height: 1px;
}
.footer-nav-item { padding: 3px 0; }
.footer-nav-link,
.footer-nav-item .content {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: hsl(0, 0%,47%);
  font-size: var(0.875rem);
  text-transform: capitalize;
  -webkit-transition: var(0.2s ease);
  -o-transition: var(0.2s ease);
  transition: var(0.2s ease);
}
.footer-nav-link:hover { color: hsl(353, 100%, 78%); }
.footer-nav-item.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}
.footer-nav-item .content {
  font-style: normal;
  margin-bottom: 5px;
}
.footer-nav-item .icon-box {
  color: hsl(0, 0%,47%);
  font-size: 25px;
}
.footer-nav-item .icon-box ion-icon { --ionicon-stroke-width: 30px; }
.footer-nav .social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.social-link .footer-nav-link { font-size: 25px; }
.footer-bottom {
  margin-bottom: 50px;
  text-align: center;
}
.payment-img {
  max-width: 335px;
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
}
.copyright {
  color: hsl(0, 0%,47%);
  font-size: var(0.813rem);
  font-weight: var(500);
  text-transform: capitalize;
  letter-spacing: 1.2px;
}
.copyright a {
  display: inline;
  color: inherit;
}
  /* #RESPONSIVE */
@media (min-width: 570px) {
  .header-main .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-logo { margin-bottom: 0; }
  .header-search-container { min-width: 300px; }
  .slider-item { aspect-ratio: 4 / 2; }
  .banner-content { background: none; }
  .product-minimal .showcase-container { min-width: 50%; }
  .product-featured .showcase-img {
    max-width: 450px;
    margin: auto;
  }
  .product-featured .countdown { gap: 20px; }
}
@media (min-width: 768px) {
  :root {
    --fs-1: 2.375rem;
  }
  html { font-size: 17px; }
  .container {
    max-width: 750px;
    margin: auto;
  }
  .header-main .container { gap: 80px; }
  .header-search-container { -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; }
  .slider-item {
    aspect-ratio: auto;
    height: 350px;
  }
  .banner-content { max-width: 380px; }
  .banner-subtitle { --fs-7: 1.25rem; }
  .banner-text { --fs-7: 1.125rem; }
  .banner-text b { --fs-2: 1.875rem; }
  .banner-btn { --fs-11: 0.75rem; }
  .product-minimal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .product-minimal .product-showcase {
    min-width: -webkit-calc(50% - 10px);
    min-width: calc(50% - 10px);
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px);
  }
  .product-minimal .showcase-container { min-width: 100%; }
  .product-featured .showcase {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .product-featured .showcase-img { max-width: -webkit-fit-content; max-width: -moz-fit-content; max-width: fit-content; }
  .product-featured .showcase-content {
    margin-top: 0;
    min-width: -webkit-calc(100% - 345px);
    min-width: calc(100% - 345px);
  }
  .footer-nav .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    row-gap: 50px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .footer-nav-list {
    min-width: -webkit-calc(33.33% - 15px);
    min-width: calc(33.33% - 15px);
    width: -webkit-calc(33.33% - 15px);
    width: calc(33.33% - 15px);
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .footer-nav-list:not(:last-child) { margin-bottom: 0; }
}
@media (min-width: 1024px) {
  :root {
    --fs-1: 2.625rem;
    --fs-2: 1.125rem;

  }
  .container { max-width: 980px; }
  .header-user-actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
  .header-user-actions .action-btn {
    position: relative;
    font-size: 35px;
    color: hsl(0, 0%,27%);
    padding: 5px;
  }
  .header-user-actions .count {
    position: absolute;
    top: -2px;
    right: -3px;
    background: hsl(0, 100%, 70%);
    color: white;
    font-size: 12px;
    font-weight: var(500);
    line-height: 1;
    padding: 2px 4px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
  }
  .desktop-navigation-menu { display: block; }
  .desktop-menu-category-list {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
  .desktop-menu-category-list .menu-category:not(:nth-child(2)) { position: relative; }
  .desktop-menu-category-list .menu-category > .menu-title {
    position: relative;
    color: hsl(0, 0%,27%);
    font-size: var(--fs-7);
    font-weight: var(600);
    text-transform: uppercase;
    padding: 15px 0;
    -webkit-transition: var(0.2s ease);
    -o-transition: var(0.2s ease);
    transition: var(0.2s ease);
  }
  .desktop-menu-category-list .menu-category > .menu-title:hover { color: hsl(353, 100%, 78%); }
  .desktop-menu-category-list .menu-category > .menu-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: hsl(353, 100%, 78%);
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    -webkit-transition: var(0.2s ease);
    -o-transition: var(0.2s ease);
    transition: var(0.2s ease);
  }
  .desktop-menu-category-list .menu-category > .menu-title:hover::after { -webkit-transform: scaleX(1); -ms-transform: scaleX(1); transform: scaleX(1); }
  .mobile-bottom-navigation { display: none; }
  .banner { margin-top: 0; }
  .slider-item { height: 380px; }
  .banner-content {
    left: 75px;
    max-width: 400px;
  }
  .banner-subtitle { --fs-7: 1.625rem; }
  .banner-text { --fs-7: 1.375rem; }
  .banner-btn { --fs-11: 0.875rem; }
  .product-container .container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 30px;
    margin-bottom: 30px;
  }
  .product-box { min-width: -webkit-calc(75% - 15px); min-width: calc(75% - 15px); }
  .product-minimal { margin-bottom: 20px; }
  .product-minimal .product-showcase {
    min-width: -webkit-calc(33.33% - 14px);
    min-width: calc(33.33% - 14px);
    width: -webkit-calc(33.33% - 14px);
    width: calc(33.33% - 14px);
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .product-minimal .showcase-wrapper { gap: 10px; }
  .product-minimal .showcase-container { padding: 2px; }
  .product-featured .countdown-content { padding: 5px 10px; }
  .product-grid { -ms-grid-columns: (1fr); grid-template-columns: repeat(3, 1fr); }
  .footer-nav-list {
    min-width: -webkit-calc(20% - 16px);
    min-width: calc(20% - 16px);
    width: -webkit-calc(20% - 16px);
    width: calc(20% - 16px);
  }
  .footer-nav-list:last-child { display: none; }
  .footer-bottom { margin-bottom: 0; }
}
@media (min-width: 1200px) {
  .container { max-width: 1200px; }
  .desktop-menu-category-list { gap: 45px; }
  .slider-item:last-child .banner-img { -o-object-position: top; object-position: top; }
  .product-featured .showcase > div { min-width: -webkit-calc(50% - 10px); min-width: calc(50% - 10px); }
  .product-featured .display-number { --fs-5: 1.125rem; }
  .product-grid { 
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(4, 1fr);
  }
  footer { padding-top: 50px; }
  .footer-category {
    margin-bottom: 50px;
    padding-bottom: 35px;
  }
  .footer-nav { padding-bottom: 50px; }
}
@media (min-width: 1400px) {
  html { font-size: 18px; }
  .container { max-width: 1350px; }
  .slider-item { height: 450px; }
  .banner-content {
    left: 110px;
    max-width: 460px;
  }
}